*
{
	margin: 0;
	padding: 0;
}

.counters
{
	width: 88px;
	height: 53px;
	font-family: arial;
	font-size: 11px;
	cursor: pointer;
}

.counter_1
{
	background: url( 'images/counter1.png' );
	width: 88px;
	height: 53px;
}

.counter_2
{
	background: url( 'images/counter2.png' );
	width: 88px;
	height: 53px;
}

.counter_3
{
	background: url( 'images/counter3.png' );
	width: 88px;
	height: 53px;
}

.counter_1 .visits
{
	font-size: 16px;
	font-weight: bold;
	padding: 18px 0 0 0;
	color: rgba( 255, 255, 255, 0.8 );
	text-shadow: 1px 1px rgba( 0, 0, 0, 0.24 );
}

.counter_1 .text
{
	font-size: 11px;
	color: rgba( 255, 255, 255, 0.95 );
	text-shadow: 1px 1px rgba( 0, 0, 0, 0.3 );
	margin: -2px 0 0 0;
}

.counter_2 .text
{
	font-size: 11px;
	color: rgba( 255, 255, 255, 0.95 );
	text-shadow: 1px 1px rgba( 0, 0, 0, 0.3 );
	padding: 37px 4px 0 4px;
}

.counter_2 .text .left
{
	float: left;
}

.counter_2 .text .right
{
	float: right;
}

.counter_2 .text span
{
	font-size: 9px;
	margin-right: 3px;
}