legend.left_side
{
  background: #eaeaea;
  border: 1px solid #cbccd4;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #29292b;
  text-transform:uppercase;
  margin-bottom: 10px;
}

fieldset.left_side
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 160px;
  border: 1px solid #cbccd4;
  padding: 10px;
}

legend.right_side
{
  background: #eaeaea;
  border: 1px solid #cbccd4;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #29292b;
  text-transform:uppercase;
  margin-bottom: 10px;
}

fieldset.right_side
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 220px;
  border: 1px solid #cbccd4;
  padding: 10px;
}