/*------------------------------------------------*/
/*-----------[SUNCORE LIGHT-GREY THEME]-----------*/
/*------------------------------------------------*/

.suncore-content {
	border: 1px solid #E4E4E4;
	width:548px;
	margin:0 auto;
	font-family:'Droid Sans',Arial,Verdana,sans-serif; font-size: 12px; color:#626262;
	line-height: 18px;
}

.suncore-featured-shadow-bg {
	-moz-border-radius: 10px;
	webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 23px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 23px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 23px rgba(0,0,0,0.2);
}
.suncore-clear {
	clear:both;
}
.suncore-seperator-line {
	border-bottom:1px solid #d7d7d7;
}

.suncore-copyright-bottom {
	width:200px;
	margin: 0 auto;
	text-align:center;
	padding:10px;
}

.suncore-list-dot li{
	background: url(./images/lightgrey/list-dot.png) no-repeat 0 5px !important;
	padding-left: 18px !important;
	margin: 5px 0 !important;
	list-style: none !important;
}

.suncore-sms-marker-price {
	color:#000;
	background:#86e386;
	padding-left:2px;
	padding-right:2px;
}
.suncore-sms-marker-shortcode {
	color:#000;
	background:#fdce96;
	padding-left:2px;
	padding-right:2px;
}
.suncore-content-wrapper {
	width:100%;
	height:100%;
}
.suncore-wiget {
	text-align:left;
	padding:8px;
	background:#fff;
	border: 3px solid #d6d6d6;
	background: url(./images/lightgrey/content-bg.png);
}