.suncore-adverts-panel {
	text-align:left;
	padding:8px;
}

.suncore-adverts-title {
	font-size:25px;
	color:#e3e3e0;
	text-shadow:1px 1px 0px #000;
	text-align:center;
	padding:4px;
	margin-bottom:10px;
}

.suncore-adverts-panel label {
	display:block;
	font-weight:bold;
}
.suncore-adverts-panel input {
	background: url(../images/lightgrey/protected-input-bg.png) repeat-x;
	border: 1px solid #DADADA;
	padding: 7px;
	
}

.suncore-adverts-panel p {
	margin: 10px 0px 0px 14px;
	padding-bottom:10px;
}

.suncore-adverts-panel select.payment, .suncore-adverts-panel input{
	width: 300px;
}

.suncore-adverts-panel select.in, .suncore-adverts-panel input{
	width: 200px;
}

.suncore-adverts-panel textarea {
	width: 300px;
}
.suncore-adverts-paytype {
	background: url(./images/lightgrey/small-info-bg.png) center center no-repeat;
	width: 315px;
	height: 166px;
	margin: 0 auto;
}

.suncore-adverts-paytype.sms p{
	text-align:center;
	padding-top:50px;
}
.suncore-adverts-paytype.paypal p{
	text-align:center;
	padding-top:40px;
	margin:0 10px 0 10px;
}
.suncore-adverts-paytype.bank .bank-data{
	text-align:left;
	padding-top:34px;
	margin:0 4px 0 20px;
	font-size:90%;
}
.suncore-adverts-paytype.bank .bank-data b{
	font-weight:bold;
}

.suncore-rules {
	margin-top:30px;
}
.suncore-rules-title {
	color: gray;
	margin-left: 14px;
	font-weight:bold;
	font-size:120%;
}
.suncore-rules-list {
	margin-top:10px;
	list-style-type:circle;
	margin-left:30px;
}
.suncore-banner{
	margin:0 auto;
	width:470px;
}

.suncore-banner img{
	border:1px solid #000;
}

.banner-type 
{
	display: none;
}

.unlock-code{
	display:none;
}
.time{
	display:none;
}
.bank-data{
	text-align:left;
}
.suncore-adverts-submit-button {
	display:none;
	text-align:center;
	margin-top:15px;
}

.suncore-adverts-submit-button input[type=submit] {
	width: 216px !important;
	margin:0 auto;
	margin-top:5px;
}
.suncore-adverts-submit-button input[type=text] {
	width: 200px !important;
	margin:0 auto;
}

.suncore-advert-preview {
	display: none;
	text-align: center;
	margin-top:10px;
	padding-bottom:6px;
}
.suncore-advert-preview-title{
	text-align:center;
	font-style:italic;
	margin-left: 14px;
}
.suncore-message 
{
	padding: 8px;
	margin: 8px;
	color: #4c121b;
	background: #fecf5b;
	border: 2px solid #d69800;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.suncore-message.success
{
	background-color: #d3e88a;
	border-color: #a1c22c;
}
.suncore-text-advert {
	width: 190px;
	height: 75px;
	padding: 5px;
	background: #FFF;
	border: 3px solid #d7d7d7;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #8a8a8a;
	font-size: 11px;
	position: relative;
	display: inline-block;
	margin: 0 2px 2px 0;
	overflow: hidden;
	text-align: left;
	font-family: Arial;
	font-size: 11px;
	cursor:pointer;
	line-height: 13px;
}

.suncore-text-advert.dark
{
	background: #2c2c2c;
	border-color: #4a4a4a;
}

.suncore-text-advert .suncore-advert-title
{
	font-size: 12px;
	color: #93ae00;
	position: absolute;
	top: 4px;
}

.suncore-text-advert .suncore-advert-description
{
	position: absolute;
	top: 22px;
}

.suncore-text-advert .suncore-advert-link
{
	position: absolute;
	bottom: 4px;
	color: #8e9d38;
	text-decoration: none;
}

.suncore-image-advert
{
	display: inline-block;
	margin: 0 2px 2px 0;
}