body
{
	background: url(images/background.png) repeat;
}

a {
	outline: 0 !important;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

a:hover, a:visited { 
	text-decoration: none;
}

input::-moz-focus-inner {
	border: 0;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 5px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #ddd;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  color: #454545;
  text-shadow: none;
}

#footer {
	clear: both;
	position: relative;
	top: 20px;
	width: 100%;
	height: 40px;
	border-top: 1px dashed #999;
	font-size: 11px;
	padding-top: 5px;
	color: #888;
}

#footer .left {
	float: left;
}

#footer .right {
	float: right;
}

.nav-list > li > a,.dropdown-menu li a {-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px}

.dropdown-menu li {padding:0 5px}
.dropdown-menu li a {padding:3px 20px 3px 8px;position:relative}

.tabbable-bordered{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.tabbable-bordered > .nav-tabs {margin: 0}
.tabbable-bordered .tab-content {border-color: #ddd;border-style:solid;border-width:0;overflow:auto;padding:18px 0 0}
.tabbable-bordered > .tab-content{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;border-width:0 1px 1px;padding:10px 10px 0px}

.dropdown-menu-login{height:185px;}
.dropdown-menu-login form {padding:10px;}
.dropdown-menu-login fieldset label {color:#666; text-shadow:none;}
.dropdown-menu-login .login-button{ height: 27px; }
.dropdown-menu-login input[type="submit"] {outline:0;}
.dropdown-menu-login fieldset label  a { position: relative; left: 19px; color: #0088cc; }
.dropdown-menu-login fieldset label  a:hover { color: #000; }


a.register-button {
	color: #fff;
	height: 19px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 25px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 25px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 25px 0;
  }
  to {
    background-position: 0 0;
  }
}

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 25px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 25px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  height: 16px;

  overflow: visible;

  background: #d6d6d6;
  filter: progid:dximagetransform.microsoft.gradient(enabled='false');

  border: 0px solid #c0c0c0;

  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.5);
     -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.5);
}

.progress .bar {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

  background-color: #6aabdc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fc1e5), to(#6aabdc));
  background-image: -webkit-linear-gradient(#8fc1e5, #6aabdc);
  background-image: -o-linear-gradient(#8fc1e5, #6aabdc);
  background-image: linear-gradient(#8fc1e5, #6aabdc);
  background-image: -moz-linear-gradient(#8fc1e5, #6aabdc);
  filter: progid:dximagetransform.microsoft.gradient(enabled='false');

  border: 1px solid #5c94bf;

  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
}

.progress .bar + .bar {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
}

.progress-striped .bar {
  background-color: #6aabdc;  
  background-image: -webkit-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -moz-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -o-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);

  -webkit-background-size: 25px 25px;
     -moz-background-size: 25px 25px;
       -o-background-size: 25px 25px;
          background-size: 25px 25px;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 1.25s linear infinite;
     -moz-animation: progress-bar-stripes 1.25s linear infinite;
      -ms-animation: progress-bar-stripes 1.25s linear infinite;
       -o-animation: progress-bar-stripes 1.25s linear infinite;
          animation: progress-bar-stripes 1.25s linear infinite;
}

.progress-danger .bar,
.progress .bar-danger {
  background-color: #dc6a6a;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e58f8f), to(#dc6a6a));
  background-image: -webkit-linear-gradient(#e58f8f, #dc6a6a);
  background-image: -o-linear-gradient(#e58f8f, #dc6a6a);  
  background-image: -moz-linear-gradient(#e58f8f, #dc6a6a);
  background-image: linear-gradient(#e58f8f, #dc6a6a);
  filter: progid:dximagetransform.microsoft.gradient(enabled='false');

  border-color: #bf5c5c;  

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
}

.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #dc6a6a;
  background-image: -webkit-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -moz-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -o-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
}

.progress-success .bar,
.progress .bar-success {
  background-color: #62cc65;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dd98f), to(#62cc65));
  background-image: -webkit-linear-gradient(#8dd98f, #62cc65);
  background-image: -o-linear-gradient(#8dd98f, #62cc65);  
  background-image: -moz-linear-gradient(#8dd98f, #62cc65);
  background-image: linear-gradient(#8dd98f, #62cc65);
  filter: progid:dximagetransform.microsoft.gradient(enabled='false');

  border-color: #5cbf5f;  

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
}

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62cc65;
  background-image: -webkit-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -moz-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -o-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
}

.progress-info .bar,
.progress .bar-info {
  background-color: #69c8db;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ed7e5), to(#69c8db));
  background-image: -webkit-linear-gradient(#8ed7e5, #69c8db);
  background-image: -o-linear-gradient(#8ed7e5, #69c8db);
  background-image: linear-gradient(#8ed7e5, #69c8db);
  background-image: -moz-linear-gradient(#8ed7e5, #69c8db);
  filter: progid:dximagetransform.microsoft.gradient(enabled='false');

  border-color: #5cafbf;  

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
}

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #69c8db;
  background-image: -webkit-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -moz-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -o-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
}

.progress-warning .bar,
.progress .bar-warning {
  background-color: #d99a41;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5ac5c), to(#d99a41));
  background-image: -webkit-linear-gradient(#e5ac5c, #d99a41);
  background-image: -o-linear-gradient(#e5ac5c, #d99a41);  
  background-image: -moz-linear-gradient(#e5ac5c, #d99a41);
  background-image: linear-gradient(#e5ac5c, #d99a41);
  filter: progid:dximagetransform.microsoft.gradient(enabled='false');

  border-color: #bf8739;  

  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);  
}

.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #d99a41;
  background-image: -webkit-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -moz-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: -o-linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
  background-image: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, transparent 75%);
}

.alert {
  color: #bf7813;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

  background-color: #ffe6c2;

  border: 1px solid #d9be98;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.alert-success {
  color: #339136;
  background-color: #d4e8d5;
  border-color: #96cb98;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #eacfcf;
  border-color: #d49191;
}

.alert-info {
  color: #3d7fb2;
  background-color: #dfebf4;
  border-color: #99c3e3;
}

.label {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.label[href],
.badge[href] {
  background-color: #666;
}

.label-important,
.badge-important {
  background-color: #b94a48;
}

.label-important[href],
.badge-important[href] {
  background-color: #a3312f;
}

.label-warning,
.badge-warning {
  background-color: #bf7813;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #a96401;
}

.label-success,
.badge-success {
  background-color: #339136;
}

.label-success[href],
.badge-success[href] {
  background-color: #207a22;
}

.label-info,
.badge-info {
  background-color: #3d7fb2;
}

.label-info[href],
.badge-info[href] {
  background-color: #24679a;
}

.label-inverse,
.badge-inverse {
  background-color: #333333;
}

.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a;
}

.table-bordered {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 2px;
     -moz-border-radius: 0 0 0 2px;
          border-radius: 0 0 0 2px;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 2px;
          border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 2px;
          border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 2px;
          border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: rgba(0, 0, 0, 0.02);
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgba(0, 0, 0, 0.05);
}

.table tbody tr.success td {
  background-color: #d4e8d5;
}

.table tbody tr.error td {
  background-color: #eacfcf;
}

.table tbody tr.warning td {
  background-color: #ffe6c2;
}

.table tbody tr.info td {
  background-color: #dfebf4;
}

.table-hover tbody tr.success:hover td {
  background-color: #b0e8b3;
}

.table-hover tbody tr.error:hover td {
  background-color: #ebabab;
}

.table-hover tbody tr.warning:hover td {
  background-color: #ffd69c;
}

.table-hover tbody tr.info:hover td {
  background-color: #badbf5;
}

.nav > li > a:hover {
  background-color: #e5e5e5;
}

.nav-list > li > a,
.nav-list .nav-header {
  text-shadow: 0 1px 0 #fff;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  background-color: #0f73bf;
}

.nav-list .divider {
  background-color: #ddd;
}

.nav-pills > li > a {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #0f73bf;
}

.nav .dropdown-toggle .caret {
  border-top-color: #0f73bf;
  border-bottom-color: #0f73bf;
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: #0a4d80;
  border-bottom-color: #0a4d80;
}

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #454545;
  border-bottom-color: #454545;
}

.navbar,
.navbar .brand,
.navbar-link,
.navbar .nav > li > a {
  color: #fff;
}

.navbar-link:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #fff;
}

.navbar-inner {
  background-color: #f0f0f0;
  * background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e8e8e8));
  background-image: -webkit-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -moz-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -o-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: linear-gradient(#f9f9f9, #e8e8e8);

  border-color: #c5c5c5;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
 
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
}

.navbar .divider-vertical {
  border-right: 1px solid #fff;
  border-left: 1px solid #c5c5c5;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
}

.navbar-fixed-bottom .navbar-inner {
  -webkit-box-shadow: inset 0 -1px 0 #fff, 0 -1px 1px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 #fff, 0 -1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 #fff, 0 -1px 1px rgba(0, 0, 0, 0.15);
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

  background-color: #6a6a6a;  
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e6e6e), to(#656565));
  background-image: -webkit-linear-gradient(#6e6e6e, #656565);
  background-image: -moz-linear-gradient(#6e6e6e, #656565);
  background-image: -o-linear-gradient(#6e6e6e, #656565);
  background-image: linear-gradient(#6e6e6e, #656565);

  border-color: #585858;

  outline: 0;

  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
}

.navbar .btn-navbar {
  color: #454545;
  font-weight: bold;
  text-shadow: 0 1px 0px #fff;

  background-color: #f0f0f0;
  * background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e8e8e8));
  background-image: -webkit-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -moz-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -o-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: linear-gradient(#f9f9f9, #e8e8e8);

  border-color: #c5c5c5;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
 
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #454545;
  text-decoration: none;

  background-position: 0 0;
  background-color: #e8e8e8;
  * background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#dbdbdb));
  background-image: -webkit-linear-gradient(#f5f5f5, #dbdbdb);
  background-image: -moz-linear-gradient(#f5f5f5, #dbdbdb);
  background-image: -o-linear-gradient(#f5f5f5, #dbdbdb);
  background-image: linear-gradient(#f5f5f5, #dbdbdb);

  border-color: #b7b7b7; 
}

.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

  background-color: #6a6a6a;  
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e6e6e), to(#656565));
  background-image: -webkit-linear-gradient(#6e6e6e, #656565);
  background-image: -moz-linear-gradient(#6e6e6e, #656565);
  background-image: -o-linear-gradient(#6e6e6e, #656565);
  background-image: linear-gradient(#6e6e6e, #656565);

  border-color: #585858;

  outline: 0;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.4);

}

.navbar .btn-navbar .icon-bar {
  background: #454545;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.navbar .btn-navbar:active .icon-bar,
.navbar .btn-navbar.active .icon-bar {
  background: #fff;

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

  background-color: #6a6a6a;  
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6e6e6e), to(#656565));
  background-image: -webkit-linear-gradient(#6e6e6e, #656565);
  background-image: -moz-linear-gradient(#6e6e6e, #656565);
  background-image: -o-linear-gradient(#6e6e6e, #656565);
  background-image: linear-gradient(#6e6e6e, #656565);

  border-color: #585858;

  outline: 0;

  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #454545;
  border-bottom-color: #454545;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar .divider-vertical {
  margin: 0;
}

.navbar-inverse {
  color: #eee;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.navbar-inverse .navbar-inner {
  background-color: #3a3a3a;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#3a3a3a));
  background-image: -webkit-linear-gradient(#5a5a5a, #3a3a3a);
  background-image: -o-linear-gradient(#5a5a5a, #3a3a3a);  
  background-image: -moz-linear-gradient(#5a5a5a, #3a3a3a);
  background-image: linear-gradient(#5a5a5a, #3a3a3a);

  border-color: #212121;  

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a,
.navbar-inverse .navbar-link {
  padding-top: 10px;
  color: #d5d5d5;
  text-shadow: 0 1px 0 #000;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse a.navbar-link:hover {
  color: #fff;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background: #202020;
  border-color: #000;

  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
}

.navbar-inverse .divider-vertical {
  border-right-color: #000;
  border-left-color: #777;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #fff;

  background: #202020;
  border-color: #000;

  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #eee;
  border-bottom-color: #eee;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle:hover .caret,
.navbar-inverse .nav li.dropdown > .dropdown-toggle:hover .caret,
.navbar-inverse .nav li.dropdown > .dropdown-toggle:hover .caret,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-search .search-query {
  text-shadow: none;
  background: #454545;
  border-color: #000;  

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33), inset 0 1px 4px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33), inset 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33), inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #aaa;
  text-shadow: none;
}

.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #aaa;
  text-shadow: none;
}

.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #aaa;
  text-shadow: none;
}

.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
  padding: 4px 14px;

  color: #454545;
  text-shadow: none;

  background: #f5f5f5;

  border: 1px solid #000;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33), inset 0 1px 4px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33), inset 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33), inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navbar-inverse .btn-navbar {
  color: #fff;
  text-shadow: 0 1px 0 #000;

  background-color: #3a3a3a;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#3a3a3a));
  background-image: -webkit-linear-gradient(#5a5a5a, #3a3a3a);
  background-image: -o-linear-gradient(#5a5a5a, #3a3a3a);  
  background-image: -moz-linear-gradient(#5a5a5a, #3a3a3a);
  background-image: linear-gradient(#5a5a5a, #3a3a3a);

  border-color: #212121;  

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #fff;
  text-shadow: 0 1px 0 #000;

  background-color: #2a2a2a;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4a4a4a), to(#2a2a2a));
  background-image: -webkit-linear-gradient(#4a4a4a, #2a2a2a);
  background-image: -o-linear-gradient(#4a4a4a, #2a2a2a);  
  background-image: -moz-linear-gradient(#4a4a4a, #2a2a2a);
  background-image: linear-gradient(#4a4a4a, #2a2a2a);

  border-color: #1a1a1a; 
}

.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active {
  background: #202020;
  border-color: #000;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33), inset 0 1px 5px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33), inset 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33), inset 0 1px 5px rgba(0, 0, 0, 0.4);
}

.navbar-inverse .btn-navbar .icon-bar {
  background: #eee;

  -webkit-box-shadow: 0 1px 0 #000;
     -moz-box-shadow: 0 1px 0 #000;
          box-shadow: 0 1px 0 #000;
}

.navbar-inverse .btn-navbar:active .icon-bar,
.navbar-inverse .btn-navbar.active .icon-bar {
  background: #fff;

  -webkit-box-shadow: 0 1px 0 #000;
     -moz-box-shadow: 0 1px 0 #000;
          box-shadow: 0 1px 0 #000;
}

#fansBlock { width: 340px; }

.left-content {
	border-radius:5px;
	-o-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background: #fff;
	border: 1px solid #BDBDBD;
	padding: 5px;
}

.left-side {
	float: left;
	width: 353px;
}

.right-side {
	float: right;
	width: 580px;
}

h1 {
  font-weight:bold;
  color:black;
  margin: 0px 0px 7px 0px;
  font-family: arial;
  font-size: 14px;
  text-shadow: #ccc 1px 1px 1px;
  width: 100%;
  border-bottom: 1px dashed #999;
  padding:0px 0px -5px 0px;
}

legend.left_side
{
  background: #eaeaea;
  border: 1px solid #cbccd4;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #29292b;
  text-transform:uppercase;
}

fieldset.left_side
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 160px;
  border: 1px solid #cbccd4;
  padding: 10px;
}

legend.right_side
{
  background: #eaeaea;
  border: 1px solid #cbccd4;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #29292b;
  text-transform:uppercase;
}

fieldset.right_side
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 220px;
  border: 1px solid #cbccd4;
  padding: 10px;
}

table.ipbtable,tr.ipbtable,td.ipbtable
{ 
  color: #222;
  font-size: 12px;
  line-height: 135%;
}

.ipbtable td
{
  padding: 5px;
}

table.ipbtable_new,tr.ipbtable_new,td.ipbtable_new
{ 
  color: #222;
  font-size: 12px;
  line-height: 135%;
}

.ipbtable_new td
{
  padding: 5px;
}

table.toptable,tr.toptable,td.toptable
{ 
  color: #222;
  font-size: 12px;
  line-height: 155%;
}

.toptable td
{
  padding: 5px;
}

.cat_table
{
  background:#f6f6f6;
  border-bottom: 1px solid #dbdbdb;
}

.cat_table:hover
{
  background:white;
  border-bottom: 1px solid #dbdbdb;
}

.cat_table_active
{
  background:white;
  border-bottom: 1px solid #dbdbdb;
}

.row1
{
  background: #f1f1f1;
  border-bottom: 1px solid #dbdbdb;
}

.row2
{
  background:#f6f6f6;
  border-bottom: 1px solid #dbdbdb;
   border-right: 1px solid #dbdbdb;
}

.row2x
{
  background: url(images/input-bg.png) repeat;
  border-bottom: 1px solid #dbdbdb;
}

.row3
{
  background:white;
  border-bottom: 1px solid #dbdbdb;
}

.top_row
{
  background:white;
  border-bottom: 1px solid #dbdbdb;
}

.top_row:hover
{
  background:#FAFAFA;
  border-bottom: 1px solid #dbdbdb;
}

.top_in
{
  color:green;
  text-align:center;
  background:#f6f6f6;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
	border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	-khtml-border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
}

.top_out
{
  color:red;
  text-align:center;
  background:#f6f6f6;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
	border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	-khtml-border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
}

.upload_from_pc
{
  text-align:center;
  background:#f6f6f6;
  padding:4px;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  -moz-border-radius-bottomleft:4px;
  -webkit-border-radius-bottomleft:4px;
}

.upload_from_internet
{
  text-align:center;
  background:#f6f6f6;
  padding:4px;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  -moz-border-radius-bottomright:4px;
  -webkit-border-radius-bottomright:4px;
}

#top_site_rank_1st
{
  width:31px;
  height:30px;
  font-size:12px;
  background: url(images/first_place.gif) no-repeat;
  color:black;
  line-height:32px;
  text-align:center;
}

#top_site_rank_2st
{
  width:31px;
  height:30px;
  font-size:12px;
  background: url(images/two_place.gif) no-repeat;
  color:black;
  line-height:32px;
  text-align:center;
}

#top_site_rank_3st
{
  width:31px;
  height:30px;
  font-size:12px;
  background: url(images/third_place.gif) no-repeat;
  color:#E0DEDE;
  line-height:31px;
  text-align:center;
}

#top_site_rank_random
{
  width:31px;
  height:30px;
  font-size:12px;
  background: url(images/random_place.png) no-repeat;
  color:white;
  line-height:32px;
  text-align:center;
}

#left_side
{
  float:left; 
  width:200px;
}

#page_content
{
  float:left; 
  width:540px;
  padding-left:15px;
}

#right_side
{
  float:left; 
  width:150px;
  padding-left:40px;
}

.ipbtable
{
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}

.ipbtable_new
{
  border-bottom: 1px solid #dbdbdb;
}

.message
{
  padding: 10px 15px 10px 40px;
  margin: 10px 0;
  font-weight: bold;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.message p 
{
  padding: 0;
  width: 93%;
  float: left;
}
	
.message.error 
{
  border: 1px solid #e9c59b;
  background: #ffecce url(images/error.gif) 12px 12px no-repeat;
  color: #e3302c;
}
	
.message.success 
{
  border: 1px solid #bfde84;
  background: #edfbd8 url(images/success.gif) 12px 12px no-repeat;
  color: #508600;
}
		
.message.info 
{
  border: 1px solid #bbdbe0;
  background: #ecf9ff url(images/info.gif) 12px 12px no-repeat;
  color: #0888c3;
}

#top 
{
  height: 97px;
  width: 100%;
  background-image: url(images/topbg.gif);
}


div.admin
{
  float:left;
  width:88px;
  margin:0px;
  text-align:center;
  padding:10px;
  margin:10px 0;
}

#tab_container 
{
  padding: 0px 0 5px 0;
  font-size: 13px;
}

ul#tab 
{
  height: 11px;
  margin: 0;
  padding: 6px 10px 10px 0px;
  width:550px;
  border-bottom: 1px solid #BABABA;
  list-style: none; 
}

ul#tab li 
{
  display: inline;
}

ul#tab li a
{
  color: #344D76;
  padding: 5px 10px;
  border: 1px solid #BABABA;
  background: #EFEFEF;
  border-bottom: 0; 
}

ul#tab li a.admins 
{
  color: #344D76;
  padding: 5px 10px;
  border: 1px solid #BABABA;
  background: #FF9900;
  border-bottom: 0;
}

ul#tab li a.admins:hover
{
  background: #FF9900;
}

ul#tab li a.current 
{
  background: #dfe6ef;
  padding: 5px 10px;
  border: 1px solid #BABABA;
  border-bottom: 1px solid #FFFFFF;
  font-weight: bold;
}

ul#tab li a:hover 
{
  background: #dfe6ef; 
}

ul#tab li.vip a 
{
  background: #DDFFDD; 
}

ul#tab li.vip a:hover 
{
  background: #EEFFEE;
}

ul#tab li a#help_tab 
{ 
  background: #e7f5ff; 
}

li.left, li.vip 
{
  margin: 0;
  margin-top: -6px;
  float: left;
  padding: 6px 0;
}

li.left a
{ 
  text-decoration:none;
}

li.right
{
  margin: 0;
  margin-top: -6px;
  margin-right: -10px;
  float: right;
  padding: 6px 0;
}

#submenux li
{
  display:inline;
  font-size:14px;
  color:#003e7e;
  margin-right:10px;
}

#submenux a
{
  color:#003e7e;
  font-size:14px;
  text-decoration: none;
  text-shadow: 1px 1px 3px #bbbbbb;
}

#submenux a.active
{
  font-weight:bold;
  text-decoration:none;
}

#submenux
{
  width:auto;
  height:33px;
  background:#e2e5e8;
  border-top:1px solid #b5c6d6;
  line-height:33px;
  width: 568px;
}

#submenu ul
{
  padding-top: 4px;
  margin-top: 0px;
}

#submenux ul
{
  padding-top: 0px;
  margin-top: 0px;
}

#submenu li
{
  padding-left: 10px;
}

#submenux li
{
  padding-left: 10px;
}

#topb
{
  height: 97px;
  float: left;
  background-image: url(images/topa.gif);
  background-repeat: no-repeat;
  padding-left: 75px;
}

#logo 
{
  height: 45px;
  width: 1050px;
  background: url(images/logo.gif) no-repeat;
}

#logo .language
{
  float:right;
  padding-top:12px;
}

#topdh 
{
  width: 100%;
  font-size: 12px;
  color: #FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  white-space:nowrap;
  text-decoration: none;
  line-height: 34px;
  height: 34px;
}

a.link:link 
{
  color: #FFFFFF;
  text-decoration: none;
}
a.link:visited
{
  text-decoration: none;
  color: #FFFFFF;
}
a.link:hover 
{
  text-decoration: underline;
  color: #FFFFFF;
}

a.link:active 
{
  text-decoration: none;
  color: #FFFFFF;
}

.login-btn {
  position:relative;
}

.clear {
  clear:both;
}

.recover-password-link {
  float: right;
  margin-top: 5px;
}